.produtos{padding: .5rem 5rem; margin: 4rem 0;}
.produtos .produtos-title{text-align: center;}
.produtos-cards{display: flex; flex-wrap: wrap; justify-content: center;}

.card{width: 18rem; border-radius: 5px; box-shadow: 1px 1px 5px rgba(0, 0, 0, .2); padding: .1rem 0;
  margin: .5rem;}
.card-header{height: 10rem; background-color: #F1F1F1; padding: 1rem; text-align: center; margin: .5rem;
    border-radius: 5px;}
.card-header .card-image{height: 100%;}

.card-body{margin: .5rem;}
.card-body .card-title{font-size: 12pt; margin: .5rem 0; text-transform: uppercase; margin: .5rem 0;}
.card-buttons{display: flex; justify-content: space-between;}
.card-buttons p{background-color: #BA814B; padding: .2rem .53rem; color: #fff; border-radius: 5px;
    text-align: center;}
.card-buttons .card-btn{border: none; border:1px solid #BA814B; padding: .2rem; color: #000; 
    border-radius: 5px; background-color: #fff;}
    
.card-buttons .card-btn:hover{border:1px solid #B29060; background-color: #BA814B; color: #fff;
    cursor: pointer;}